	<h1 style="text-align: center;">Week of November 1, hii 2013</h1>
    <div class="minical">     
   	 <table id="calendar" width="80%" align="center" >
      <div id="head_nav">
      <tr style="width: 172px; height: 28px;">
          <th>Day View</th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
      </tr>
      <tr id="timeLine" style="width: 172px; height: 28px;">
          <th id="reservationDate"><%= new XDate(date).toString("MMM d, yyyy") %></th>
          <th colspan="4">9:00 AM</th>
          <th colspan="4">10:00 AM</th>
          <th colspan="4">11:00 AM</th>
          <th colspan="4">12:00 PM</th>
          <th colspan="4">1:00 PM</th>
          <th colspan="4">2:00 PM</th>
          <th colspan="4">3:00 PM</th>
          <th colspan="4">4:00 PM</th>
          <th colspan="4">5:00 PM</th>
          <th colspan="4">6:00 PM</th>
      </tr>

      </div>  
  
      <tr style="background-color: #fedbd9;">
          <td>Office 1</td>
              <td></td>
              <td></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
      <tr>
          <td>Office 2</td>
          
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
      <tr style="background-color: #fedbd9;">
          <td>Office 3</td>
          
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
      <tr>
          <td>Office 4</td>
          
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
      <tr style="background-color: #fedbd9;">
          <td>Workstation 1</td>
          
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
      <tr>
          <td>Workstation 2</td>
          
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
       </tr>
       <tr style="background-color: #fedbd9;">
          <td>Workstation 3</td>
          
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
       </tr>
       <tr>
          <td>Workstation 4</td>
          
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
       </tr>
       <tr style="background-color: #fedbd9;">
          <td>Conference 1</td>
          
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
       </tr>
       <tr>
          <td>Conference2</td>
          
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
        </tr>
        <tr>
          <th colspan"41">
            <div style="text-align: center;"><a href="#">Left</a><a href="#">Right</a>
            </div>
          </th>
        </tr>
      </table>
      </div>

  
  
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
