	<h1 style="text-align: center;">Week of November 1, hii-1 2013</h1>
    <div class="minical">     
   	 <table id="calendar" width="80%" align="center" >

      <tr style="width: 172px; height: 28px;">
          <th>Day View</th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
          <th colspan="4"></th>
      </tr>

      <tr id="timeLine" style="width: 172px; height: 28px;">
          <th id="reservationDate"><%= new XDate(date).toString("MMM d, yyyy") %></th>
          <th colspan="4">12:00 AM</th>
          <th colspan="4">1:00 AM</th>
          <th colspan="4">2:00 AM</th>
          <th colspan="4">3:00 AM</th>
          <th colspan="4">4:00 AM</th>
          <th colspan="4">5:00 AM</th>
          <th colspan="4">6:00 AM</th>
          <th colspan="4">7:00 AM</th>
          <th colspan="4">8:00 AM</th>
          <th colspan="4">9:00 AM</th>
      </tr>

      <% _.each(collection, function(rowItem, index, list) { %>
      <tr style="background-color: #fedbd9;">
          <td><%= rowItem.rental_unit_name %></td>
              <td style="background-color: #fe6356;"></td>
              <td style="background-color: #fe6356;"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
      </tr>
      <% } %>

        <tr>
          <th colspan="41">
            <div style="text-align: center;"><p href="#" style="margin-right: 122px; margin-top: 0px; margin-bottom: 0px;"></p><a id="rightBtn" href="#" style="margin-left: 122px;">Right</a>
            </div>
          </th>
        </tr>
      </table>
      </div> <!-- .minical -->